.book__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 25px;
        height: 25px;

    }
    &__title{
        display: flex;
        align-items: center;
    }
}