.book__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book__column{
    &:first-child{
    display: flex;
    }
}
// .book__number{
//     margin: 10px;
// }
// .book__name{
//     margin: 10px;
// }